* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(9, 9, 55);
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 3px rgb(236, 94, 236));
}

nav ul li {
  font-size: 1.1rem;
  list-style: none;
  margin: 0 23px;
}

.right ul li a {
  text-decoration: none;
  color: #fff;
}
.right ul li a:hover {
  color: rgb(153, 153, 226);
}

.left {
  font-size: 1.5rem;
  filter: drop-shadow(0 0 3px rgb(236, 94, 236));
}

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.leftSection {
  width: 34px;
  font-size: 3rem;
  margin: 70px 0;
}

.firstSection > div {
  width: 37%;
}

.rightSection img {
  border-radius: 45%;
  position: relative;
  top: 60px;
  left: 1px;
}
.rightSection {
  position: relative;
}
.rightSection::before {
  content: "";
  position: absolute;
  top: 58%;
  left: 29%;
  transform: translate(-50%, -50%);
  width: 333px;
  height: 326px;
  background-color: #9c97f1;
  border-radius: 100%;
  z-index: -1;
}

#element,
.purple {
  color: rgb(162, 80, 239);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 40vh;
}
h1 {
  font-size: 2.1rem;
  padding: 15px 0;
}

main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}
.second-Hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}

.small {
  color: #9c97f1;
}
.about-details {
  font-size: 1.2rem;
}

.thirdSection {
  max-width: 80vw;
  margin: auto;
  height: 85vh;
}
.thirdSection img {
  width: 100px;
}

.weatherapp img,
.artwebsite img,
.musicplayer img,
.landingpage img {
  margin: 20px;
}

.musicplayer,
.weatherapp,
.artwebsite,
.landingpage {
  display: flex;
  align-items: center;
}

.artwebsite a,
.weatherapp a,
.musicplayer a,
.landingpage a {
  text-decoration: none;
  color: #fff;
}
.fourthSection {
  max-width: 80vw;
  margin: auto;
  height: 70vh;
}
.fourthSection .edu {
  background-color: #fff;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.fourthSection .vertical {
  height: 93px;
  width: 1px;
  background-color: #fff;
  margin: 0 160px;
}

.vertical-title {
  position: relative;
  top: 45px;
  width: 150px;
  font-size: 20px;
}
.vertical-desc {
  position: relative;
  top: 60px;
  color: gray;
  width: 150px;
  font-size: 16px;
}
.vertical img {
  position: relative;
  width: 50px;
  top: -45px;
  left: -24px;
}

.fifthSection {
  max-width: 80vw;
  margin: auto;
  height: 70vh;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 15px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-item img {
  width: 100px; /* Adjust the size of the image as needed */
  height: 100px; /* Adjust the size of the image as needed */
  margin-bottom: 10px;
  object-fit: cover;
}

.skill-item span {
  font-size: 18px;
  font-weight: bold;
}
.contacts {
  max-width: 80vw;
  margin: auto;
}
footer {
  background-color: #0e0e1a;
  height: 233px;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 23px 122px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  cursor: pointer;
}
.footer > div {
  width: 123px;
}

.first h1 {
  padding: 0px;
}

.footer-rights {
  text-align: center;
  color: gray;
  padding: 12px 0;
}
.leftSection .btn {
  padding: 12px;
  margin: 10px;
  background-color: #171751;
  color: #fff;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.leftSection .button {
  padding: 50px 0;
  filter: drop-shadow(0 0 3px rgb(236, 94, 236));
}
.leftSection .button .b1:hover {
  transform: scale(1.1);
}
.leftSection .button .b1 a {
  text-decoration: none;
  color: #fff;
}
.leftSection .button .b2:hover {
  transform: scale(1.1);
}
